package errors

import (
	"starter_kit/views/layouts"
	"net/http"
	"strconv"
)

templ ServerErrorPage(errorCode int) {
	@layouts.SharedLayout() {
		<div class="container">
			<h1 class="text-red-500">{ strconv.Itoa(errorCode) } - { http.StatusText(errorCode) }</h1>
			<p>Something went wrong on our end. Please try again later.</p>
		</div>
	}
}
